body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#signup-section,
#login-section {
    display: none;
    /* Initially hide both sections */
}

.form-section {
    margin-top: 30px;
}

#options-section {
    display: flex;
    gap: 10px;
}
.process-item {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.user-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.process-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.user-item {
    display: flex;
    justify-content: space-between;
    /* This will spread the items apart */
    padding: 5px 0;
}

.user-item p,
.user-item img {
    margin: 0 10px;
    /* Adjust as needed */
}

.sign-off-form {
    margin-top: 10px;
}
#metamask-section {
    margin-bottom: 20px;
}

#connect-metamask {
    background-color: #f39c12;
    /* Just an example color, choose what you like */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#metamask-status {
    margin-top: 10px;
}